<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjy.blog.dao.mapper.TagMapper">

    <select id="selectTagsByArticleId" parameterType="long" resultType="com.sjy.blog.dao.pojo.Tag">
        select id, avatar, tag_name
        from ms_tag
        where id in (select tag_id
                     from ms_article_tag
                     where article_id = #{articleId})
    </select>
    <select id="findHotTagIds" parameterType="int" resultType="long">
        select tag_id
        from ms_article_tag
        group by tag_id
        order by count(*) desc
        limit #{limit}
    </select>
</mapper>